{% extends 'base/base.html' %}
{% block body %}
<main class="l-main u-spacing--triple u-padding--double--bottom" role="main">
    <div>
        <header class="c-page-header c-page-header__simple u-theme--background-color--dark header-swath--with-image header-swath--with-text blend-mode--multiply">
            <div class="c-page-header__simple--inner u-padding">
                <h1 class="c-page-header__title u-font--primary--xxl u-color--white">News</h1>
            </div>
        </header>
        <header class="c-page-header c-page-header__feature">
        <div class="c-page-header__content">
        <div class="c-media-block c-block c-block__inline c-block--reversed l-grid--7-col l-grid-wrap l-grid-wrap--6-of-7">
        <div
                class="c-block__image l-grid-item l-grid-item--m--3-col l-grid-item--l--4-col u-padding--zero--sides c-block__icon c-block__icon--video">
        <div class="c-block__image-outer-wrap">
        <div class="c-block__image-wrap ">
        <picture class="picture">
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="//picsum.photos/900/700/?random" media="(min-width: 900px)">
        <source srcset="//picsum.photos/700/600/?random" media="(min-width: 500px)">
        <!--[if IE 9]></video><![endif]-->
        <img itemprop="image" srcset="//picsum.photos/500/375/?random" alt="Alt Text">
        </picture>
        </div>
        </div>
        </div>

        <div class="c-block__content u-spacing l-grid-item l-grid-item--m--3-col l-grid-item--l--2-col u-theme--border-color--darker--left u-theme--color--lighter u-theme--background-color--darker can-be--dark-dark u-padding--top u-padding--bottom u-flex--align-end">
         <div class="u-spacing c-block__group ">
        <div class="u-width--100p u-spacing">
        <h3 class="c-block__title u-color--white u-font--primary--l ">
        <a href="/" class="c-block__title-link u-theme--link-hover--light">
        <em class='u-theme--color--lighter'>Breaking</em> Adventist student’s incredible story of survival
        </a>
        </h3>
        </div>
        <div class="c-block__meta ">
        <span class="c-block__category u-text-transform--upper">North American Division</span>
        <time class="c-block__date u-text-transform--upper" datetime="2017-12-28">December 28, 2017</time>
        </div>
        </div>
        </div>

        </div>

        </div>
        </header>

    </div>
    <section class="l-grid l-grid--7-col l-grid-wrap--6-of-7 u-spacing--double--until-large">
    <div class="l-grid-item l-grid-item--l--4-col u-padding--zero--sides">
    <div class="c-block-wrap u-spacing u-padding--right">
    <div class="c-block__heading u-theme--border-color--darker">
    <h3 class="c-block__heading-title u-theme--color--darker">Featured</h3>
    <a href="" class="c-block__heading-link u-theme--color--base u-theme--link-hover--dark">See All</a>
    </div>
    <div class="c-block-wrap__content u-spacing--double">
    <div class="c-media-block c-block c-block__stacked--until-small u-spacing--until-small l-grid--7-col l-grid-wrap l-large-break">
    <div class="c-block__image l-grid-item l-grid-item--s--2-col l-grid-item--l--1-col u-padding--zero--sides">
    <div class="c-block__image-outer-wrap">
    <div class="c-block__image-wrap ">
    <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source srcset="" media="(min-width: 500px)">
    <!--[if IE 9]></video><![endif]-->
    <img itemprop="image" srcset="//picsum.photos/600/330/?image=204" alt="Alt Text">
    </picture>
    </div>
    </div>
    </div>

    <div class="c-block__content u-spacing l-grid-item l-grid-item--s--4-col l-grid-item--l--3-col u-flex--justify-start u-padding--left">
    <div class="u-spacing c-block__group ">
    <div class="u-width--100p u-spacing">
    <h2 class="c-block__title u-theme--color--dark u-font--primary--l ">
    Oakwood University IT Division to receive AAUA award.
    </h2>
    </div>
    <div class="c-block__meta u-theme--color--base">
    <span class="c-block__category u-text-transform--upper">Culture</span>
    <time class="c-block__date u-text-transform--upper" datetime="2017-12-28">December 28, 2017</time>
    </div>
    </div>
    </div>

    </div>

    <div class="c-media-block c-block c-block__stacked--until-small u-spacing--until-small l-grid--7-col l-grid-wrap l-large-break">
    <div
            class="c-block__image l-grid-item l-grid-item--s--2-col l-grid-item--l--1-col u-padding--zero--sides">
    <div class="c-block__image-outer-wrap">
    <div class="c-block__image-wrap ">
    <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source srcset="" media="(min-width: 500px)">
    <!--[if IE 9]></video><![endif]-->
    <img itemprop="image" srcset="//picsum.photos/600/330/?image=165" alt="Alt Text">
    </picture>
    </div>
    </div>
    </div>

    <div class="c-block__content u-spacing l-grid-item l-grid-item--s--4-col l-grid-item--l--3-col u-flex--justify-start u-padding--left">
    <div class="u-spacing c-block__group ">
    <div class="u-width--100p u-spacing">
    <h2 class="c-block__title u-theme--color--dark u-font--primary--l ">
    Adventist leaders call for international cooperation to end abouse of refugees in Libya
    </h2>
    </div>
    <div class="c-block__meta u-theme--color--base">
    <span class="c-block__category u-text-transform--upper">ADRA</span>
    <time class="c-block__date u-text-transform--upper" datetime="2017-12-28">December 28, 2017</time>
    </div>
    </div>
    </div>

    </div>

    <div class="c-media-block c-block c-block__stacked--until-small u-spacing--until-small l-grid--7-col l-grid-wrap l-large-break">
    <div
            class="c-block__image l-grid-item l-grid-item--s--2-col l-grid-item--l--1-col u-padding--zero--sides">
    <div class="c-block__image-outer-wrap">
    <div class="c-block__image-wrap ">
    <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source srcset="" media="(min-width: 500px)">
    <!--[if IE 9]></video><![endif]-->
    <img itemprop="image" srcset="//picsum.photos/600/330/?random" alt="Alt Text">
    </picture>
    </div>
    </div>
    </div>

    <div class="c-block__content u-spacing l-grid-item l-grid-item--s--4-col l-grid-item--l--3-col u-flex--justify-start u-padding--left">
    <div class="u-spacing c-block__group ">
    <div class="u-width--100p u-spacing">
    <h2 class="c-block__title u-theme--color--dark u-font--primary--l ">
    Students, alumni reach hearts of homeless through feet
    </h2>
    </div>
    <div class="c-block__meta u-theme--color--base">
    <span class="c-block__category u-text-transform--upper">Culture</span>
    <time class="c-block__date u-text-transform--upper" datetime="2017-11-28">November 28, 2017</time>
    </div>
    </div>
    </div>

    </div>

    </div>
    </div>
    </div>
    <div class="l-grid-item l-grid-item--l--2-col u-padding--zero--sides">
    <div class="c-block-wrap u-spacing u-padding--right">
    <div class="c-block__heading u-theme--border-color--darker">
    <h3 class="c-block__heading-title u-theme--color--darker">Global Perspectives</h3>
    <a href="" class="c-block__heading-link u-theme--color--base u-theme--link-hover--dark">See All</a>
    </div>
    <div class="c-block-wrap__content">
    <div class="c-block c-block__text  u-theme--border-color--darker u-border--left u-padding--double--bottom u-spacing--half">
    <h3 class="u-theme--color--darker u-font--primary--s">
    <strong>Young people organize food and water drives for Global Youth Day 2018</strong>
    </h3>
    <span class="c-block__meta u-theme--color--dark u-font--secondary--xs">Global Youth Day</span>
    </div>
    <div class="c-block c-block__text  u-theme--border-color--darker u-border--left u-padding--double--bottom u-spacing--half">
    <h3 class="u-theme--color--darker u-font--primary--s">
    <strong>Global community celebrates International Day of Happiness</strong>
    </h3>
    <span class="c-block__meta u-theme--color--dark u-font--secondary--xs">Community</span>
    </div>
    <div class="c-block c-block__text  u-theme--border-color--darker u-border--left u-padding--double--bottom u-spacing--half">
    <h3 class="u-theme--color--darker u-font--primary--s">
    <strong>The Government of Rwanda comforts the families whose members were struck by lightning</strong>
    </h3>
    <span class="c-block__meta u-theme--color--dark u-font--secondary--xs">Public Affairs</span>
    </div>
    <div class="c-block c-block__text  u-theme--border-color--darker u-border--left u-padding--double--bottom u-spacing--half">
    <h3 class="u-theme--color--darker u-font--primary--s">
    <strong>Bangladesh Adventists offer health education for Muslim caregivers</strong>
    </h3>
    <span class="c-block__meta u-theme--color--dark u-font--secondary--xs">Health Ministries</span>
    </div>
    <div class="c-block c-block__text  u-theme--border-color--darker u-border--left u-spacing--half">
    <h3 class="u-theme--color--darker u-font--primary--s">
    <strong>Ministry leaders in Russia learn what it takes to be a good leader</strong>
    </h3>
    <span class="c-block__meta u-theme--color--dark u-font--secondary--xs">Euro-Asia Division</span>
    </div>
    </div>
    </div>
    </div>
    </section>
    <section class="l-grid l-grid--7-col l-grid-wrap--6-of-7">
    <div class="l-grid-item u-padding--zero--sides u-spacing--double">
    <div class="c-block-wrap u-spacing u-padding--right">
    <div class="c-block__heading u-theme--border-color--darker">
    <h3 class="c-block__heading-title u-theme--color--darker">Media</h3>
    <a href="" class="c-block__heading-link u-theme--color--base u-theme--link-hover--dark">See All</a>
    </div>
    <div class="c-block-wrap__content u-spacing">
        <div class="c-media-block c-block c-block__inline c-block--reversed l-grid--7-col l-grid-wrap l-grid-wrap--6-of-7">
        <div class="c-block__image l-grid-item l-grid-item--s--3-col u-padding--zero--sides c-block__icon c-block__icon--video o-background-image u-background--cover">
        <div class="c-block__image-outer-wrap">
        <div class="c-block__image-wrap ">
        <style type="text/css">
                        .o-background-image {
                          background-image: url(//picsum.photos/600/330/?random);
                        }
                        @media(min-width: 900px) {
                          .o-background-image {
                            background-image: url(//picsum.photos/600/450/?random);
                          }
                        }
                        @media(min-width: 1100px) {
                          .o-background-image {
                            background-image: url(//picsum.photos/800/450/?random);
                          }
                        }
                        @media(min-width: px) {
                          .o-background-image {
                            background-image: url();
                          }
                        }
                      </style>
        </div>
        </div>
        </div>

        <div class="c-block__content u-spacing l-grid-item l-grid-item--s--3-col u-border-left--black--at-large u-theme--border-color--darker--left u-color--gray u-background-color--gray--light can-be--dark-dark u-padding--top u-padding--bottom u-flex--justify-between">
        <div class="u-spacing c-block__group ">
        <div class="u-width--100p u-spacing">
         <h2 class="c-block__title u-theme--color--dark u-font--primary--l ">
        The Coachella Valley community is officially home to Loma Linda University Children’s Health – Indio, Jill and Barry Golden Pavilion, the largest pediatric clinic in the area. The grand opening was...
        </h2>
        <p class="c-block__description">Church leaders pray for the two titles during Euro-Asia Division year-end meetings.</p>
        </div>
        <div class="c-block__meta u-theme--color--base">
        <span class="c-block__category u-text-transform--upper">Culture</span>
        <time class="c-block__date u-text-transform--upper" datetime="2017-12-28">December 28, 2017</time>
        </div>
        </div>
        </div>

        </div>

    </div>
    </div>
    </div>
    </section>
    <section class="l-section__block-row l-section__block-row--6-col l-grid l-grid--7-col">
    <div class="l-grid-item u-padding--zero--sides u-flex">
    <div class="c-media-block c-block c-block__stacked l-grid-wrap l-grid--7-col l-grid-item--3-col l-grid-item--m--2-col l-grid-item--xl--1-col">
    <div
            class="c-block__image l-grid-item--3-col l-grid-item--m--2-col l-grid-item--xl--1-col u-padding--zero--sides u-space--right c-block__icon c-block__icon--video">
    <div class="c-block__image-outer-wrap">
    <div class="c-block__image-wrap ">
    <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source srcset="" media="(min-width: 500px)">
    <!--[if IE 9]></video><![endif]-->
    <img itemprop="image" srcset="//picsum.photos/600/330/?random" alt="Alt Text">
    </picture>
    </div>
    </div>
    </div>

    <div class="c-block__content u-spacing l-grid-item--3-col l-grid-item--m--2-col l-grid-item--xl--1-col u-border--left">
    <div class="u-spacing c-block__group ">
    <div class="u-width--100p u-spacing">
    <h2 class="c-block__title u-theme--color--dark u-font--primary--s ">
    Polygamy, dual career marriages, and African culture among topics at groundbreaking conference in Kenya
    </h2>
    </div>
    <div class="c-block__meta u-theme--color--base u-font--secondary--xs">
    <span class="c-block__category u-text-transform--upper">Culture</span>
    </div>
    </div>
    </div>

    </div>

    <div class="c-media-block c-block c-block__stacked l-grid-wrap l-grid--7-col l-grid-item--3-col l-grid-item--m--2-col l-grid-item--xl--1-col">
    <div
            class="c-block__image l-grid-item--3-col l-grid-item--m--2-col l-grid-item--xl--1-col u-padding--zero--sides c-block__icon c-block__icon--video">
    <div class="c-block__image-outer-wrap">
    <div class="c-block__image-wrap ">
    <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source srcset="" media="(min-width: 500px)">
    <!--[if IE 9]></video><![endif]-->
    <img itemprop="image" srcset="//picsum.photos/600/330/?image=210" alt="Alt Text">
    </picture>
    </div>
    </div>
    </div>

    <div class="c-block__content u-spacing l-grid-item--3-col l-grid-item--m--2-col l-grid-item--xl--1-col u-border--left">
    <div class="u-spacing c-block__group ">
    <div class="u-width--100p u-spacing">
    <h2 class="c-block__title u-theme--color--dark u-font--primary--s ">
    Reimagining Stewardship Stories
    </h2>
    </div>
    <div class="c-block__meta u-theme--color--base u-font--secondary--xs">
     <span class="c-block__category u-text-transform--upper">Stewardship</span>
    </div>
    </div>
    </div>

    </div>

    <div class="c-media-block c-block c-block__stacked l-grid-wrap l-grid--7-col l-grid-item--3-col l-grid-item--m--2-col l-grid-item--xl--1-col">
    <div
            class="c-block__image l-grid-item--3-col l-grid-item--m--2-col l-grid-item--xl--1-col u-padding--zero--sides c-block__icon c-block__icon--audio">
    <div class="c-block__image-outer-wrap">
    <div class="c-block__image-wrap ">
    <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source srcset="" media="(min-width: 500px)">
    <!--[if IE 9]></video><![endif]-->
    <img itemprop="image" srcset="//picsum.photos/600/330/?image=209" alt="Alt Text">
    </picture>
    </div>
    </div>
    </div>

    <div class="c-block__content u-spacing l-grid-item--3-col l-grid-item--m--2-col l-grid-item--xl--1-col u-border--left">
    <div class="u-spacing c-block__group ">
    <div class="u-width--100p u-spacing">
    <h2 class="c-block__title u-theme--color--dark u-font--primary--s ">
    Adventists of Tyumen are engaged in helping the community have healthy spines
    </h2>
    </div>
    <div class="c-block__meta u-theme--color--base u-font--secondary--xs">
    <span class="c-block__category u-text-transform--upper">Health Ministries</span>
    </div>
    </div>
    </div>

    </div>

    <div class="c-media-block c-block c-block__stacked l-grid-wrap l-grid--7-col l-grid-item--3-col l-grid-item--m--2-col l-grid-item--xl--1-col">
    <div
            class="c-block__image l-grid-item--3-col l-grid-item--m--2-col l-grid-item--xl--1-col u-padding--zero--sides c-block__icon c-block__icon--gallery">
    <div class="c-block__image-outer-wrap">
    <div class="c-block__image-wrap ">
    <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source srcset="" media="(min-width: 500px)">
    <!--[if IE 9]></video><![endif]-->
    <img itemprop="image" srcset="//picsum.photos/600/330/?image=208" alt="Alt Text">
    </picture>
    </div>
    </div>
    </div>

    <div class="c-block__content u-spacing l-grid-item--3-col l-grid-item--m--2-col l-grid-item--xl--1-col u-border--left">
    <div class="u-spacing c-block__group ">
    <div class="u-width--100p u-spacing">
    <h2 class="c-block__title u-theme--color--dark u-font--primary--s ">
    Mission work for the 2018 Pyeongchang Winter Olympics
    </h2>
    </div>
    <div class="c-block__meta u-theme--color--base u-font--secondary--xs">
    <span class="c-block__category u-text-transform--upper">Outreach</span>
    </div>
    </div>
    </div>

    </div>

    <div class="c-media-block c-block c-block__stacked l-grid-wrap l-grid--7-col l-grid-item--3-col l-grid-item--m--2-col l-grid-item--xl--1-col">
    <div
            class="c-block__image l-grid-item--3-col l-grid-item--m--2-col l-grid-item--xl--1-col u-padding--zero--sides c-block__icon c-block__icon--video">
    <div class="c-block__image-outer-wrap">
    <div class="c-block__image-wrap ">
    <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source srcset="" media="(min-width: 500px)">
    <!--[if IE 9]></video><![endif]-->
    <img itemprop="image" srcset="//picsum.photos/600/330/?image=214" alt="Alt Text">
    </picture>
    </div>
    </div>
    </div>

    <div class="c-block__content u-spacing l-grid-item--3-col l-grid-item--m--2-col l-grid-item--xl--1-col u-border--left">
    <div class="u-spacing c-block__group ">
    <div class="u-width--100p u-spacing">
    <h2 class="c-block__title u-theme--color--dark u-font--primary--s ">
    Adventist leaders call for international cooperation to end abouse of refugees in Libya
    </h2>
    </div>
    <div class="c-block__meta u-theme--color--base u-font--secondary--xs">
    <span class="c-block__category u-text-transform--upper">Culture</span>
    </div>
    </div>
    </div>

    </div>

    <div class="c-media-block c-block c-block__stacked l-grid-wrap l-grid--7-col l-grid-item--3-col l-grid-item--m--2-col l-grid-item--xl--1-col">
    <div
            class="c-block__image l-grid-item--3-col l-grid-item--m--2-col l-grid-item--xl--1-col u-padding--zero--sides c-block__icon c-block__icon--video">
    <div class="c-block__image-outer-wrap">
    <div class="c-block__image-wrap ">
    <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source srcset="" media="(min-width: 500px)">
    <!--[if IE 9]></video><![endif]-->
    <img itemprop="image" srcset="//picsum.photos/600/330/?image=206" alt="Alt Text">
    </picture>
    </div>
    </div>
    </div>

    <div class="c-block__content u-spacing l-grid-item--3-col l-grid-item--m--2-col l-grid-item--xl--1-col u-border--left">
    <div class="u-spacing c-block__group ">
    <div class="u-width--100p u-spacing">
    <h2 class="c-block__title u-theme--color--dark u-font--primary--s ">
    Adventist Church in Inter-America tackles stagnant growth, commits to discipleship initiative
    </h2>
    </div>
    <div class="c-block__meta u-theme--color--base u-font--secondary--xs">
    <span class="c-block__category u-text-transform--upper">Culture</span>
    </div>
    </div>
    </div>

    </div>

    </div>
    </section>
    <section class="l-grid l-grid--7-col u-shift--left--1-col--at-large l-grid-wrap--6-of-7">
    <div class="c-article l-grid-item l-grid-item--l--4-col u-spacing--triple">
    <form class="c-form c-subscribe-form u-theme--dark u-theme--background-color--darker u-spacing u-padding" action="index.html" method="post">
    <h2 class="u-font--primary--l u-color--white"><strong>Subscribe for Healthy Spam-Substitute</strong></h2>
    <div class="u-spacing--quarter c-form-group">
    <input placeholder="First Name" type="text" name="first_name" value="">
    <label class="u-font--secondary--s" for="">First Name</label>
    </div>
    <div class="u-spacing--quarter c-form-group">
    <input placeholder="Last Name" type="text" name="last_name" value="">
    <label class="u-font--secondary--s" for="">Last Name</label>
    </div>
    <div class="u-spacing--quarter c-form-group">
    <input placeholder="Email Address" type="email" name="email" value="">
    <label class="u-font--secondary--s" for="">Email Address</label>
    </div>
    <div class="u-spacing--quarter c-form-group">
    <label class="u-font--secondary--s" for="">Your Comments</label>
    <textarea name="name" rows="8" cols="40">Enter a comment.</textarea>
    </div>
    <div class="u-spacing--half">
    <span class="u-font--secondary--s u-theme--color--lighter u-text-transform--upper"><strong>Frequency</strong></span>
    <div class="c-form-group__radio">
    <input type="radio" name="option" value="one" checked>
    <label class="u-font--secondary--s" for="">Weekly Bulletin</label>
    </div>
    <div class="c-form-group__radio">
    <input type="radio" name="option" value="two">
    <label class="u-font--secondary--s" for="">Seasonal Bulletin</label>
    </div>
    </div>
    <button class="o-button o-button--outline" type="submit">Submit</button>
    <button class="o-button o-button--simple" type="submit"><span class="u-icon u-icon--xs u-theme--path-fill--lighter"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><title>o-icon__close</title><path d="M9.91,1.5,8.5.09,5,3.59,1.5.09.09,1.5,3.59,5,.09,8.5,1.5,9.91,5,6.41l3.5,3.5L9.91,8.5,6.41,5Z" fill="#9b9b9b"/></svg>
    </span>Cancel</button>
    </form>
    </div>
    </section>
</main>
{% endblock body %}