{% extends 'base/base.html' %}
{% block title %}About{% endblock %}
{% load static %}
{% block body %}
    <style type="text/css">
      .o-background-image {
        background-image: url(../../../static/media/nwkc.png);
      }
      @media(min-width: 900px) {
        .o-background-image {
          background-image: url(../../../static/media/nwkc.png);
        }
      }
      @media(min-width: 1100px) {
        .o-background-image {
          background-image: url(../../../static/media/nwkc.png);
        }
      }
    </style>
<header class="c-page-header c-page-header__long u-space--zero u-theme--background-color--dark o-background-image u-background--cover has-background">
    <div class="c-page-header__long--inner l-grid l-grid--7-col u-gradient--bottom">
        <div class="c-page-header__content c-page-header__long__content l-grid-wrap l-grid-wrap--5-of-7 u-shift--left--1-col--at-xxlarge u-border-left--white--at-medium">
            <h1 class="c-page-header__title u-font--primary--xl u-color--white">
                About
            </h1>
        </div>
    </div>
</header>

<section class="l-grid l-grid--7-col u-shift--left--1-col--at-xxlarge l-grid-wrap--6-of-7 u-spacing--double--until-large">
    <div class="c-article l-grid-item l-grid-item--l--4-col l-grid-item--xl--4-col">
        <figure class="o-figure u-padding--double--top ">
            <div class="u-image--wrap fitvid">
                <iframe title="A People Connected // Adventist.org" src="https://player.vimeo.com/video/85957049?dnt=1&amp;app_id=122963" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="" id="fitvid882350"></iframe>
            </div> <!-- /.u-image--wrap -->
            <figcaption class="o-figcaption">
                <p class="o-caption u-color--gray u-font--secondary--s"></p>
            </figcaption>
        </figure> <!-- /.figure -->
        <article class="text c-article__body u-spacing u-padding--top u-padding--bottom ">
            <div class="c-block__heading u-theme--border-color--darker">
                <h3 class="c-block__heading-title u-theme--color--darker">About North West Kenya Conference</h3>
            </div>
            <p><strong>North west Kenya confernce (NWKC),</strong> was established in the year 2012 as a pilot conference. it was before, part of the greater western Kenya Conference whose head quaters was based in Eldoret town. NWKC is based in Webuye off the Webuye-Kitale highway.</p>

            <p><a href="">Vestibulum ipsum orci, egestas eu erat non, posuere maximus quam.</a> Quisque tincidunt turpis id accumsan hendrerit. Cras eleifend, arcu sit amet faucibus blandit, dolor urna euismod sem, non molestie nulla nulla porta nibh. Integer commodo arcu vitae nisl iaculis, non hendrerit arcu sodales. Vivamus sagittis quam ut elit posuere ultrices. In blandit erat orci, vitae posuere enim vehicula quis. Nullam posuere mauris odio, eu facilisis lorem iaculis ut. Aenean tortor turpis, sollicitudin ut est eget, mattis feugiat arcu. Etiam est magna, aliquet ut blandit sit amet, malesuada a lacus. Nam scelerisque arcu non sem auctor molestie. Vestibulum sit amet congue ex.</p>
        </article>

    </div>
</section>


{% endblock %}
