{% extends 'base/base.html' %}
{% block title %}Contact{% endblock %}
{% load static %}
{% block body %}

<header class="c-page-header c-page-header__simple u-theme--background-color--dark o-background-image blended u-background--cover u-gradient--bottom">
      <style type="text/css">
    .o-background-image {
      background-image: url(//placeimg.com/600/300/tech);
    }
    @media(min-width: 900px) {
      .o-background-image {
        background-image: url(//placeimg.com/900/400/tech);
      }
    }
    @media(min-width: 1100px) {
      .o-background-image {
        background-image: url(//placeimg.com/1400/500/tech);
      }
    }
  </style>
    <div class="c-page-header__simple--inner u-padding">
        <h1 class="c-page-header__title u-font--primary--xxl u-color--white">
              Contact us
          </h1>
    </div>
</header> <!-- /.header__swath -->

 <section id="top" class="l-main__content l-grid l-grid--7-col u-shift--left--1-col--at-xxlarge l-grid-wrap--6-of-7 u-spacing--double--until-xxlarge u-padding--zero--sides">
    <article class="c-article l-grid-item l-grid-item--l--4-col l-grid-item--xxl--3-col post-33 page type-page status-publish hentry">
        <div class="c-article__body">
            <div class="text u-spacing">
                <nav class="c-breadcrumbs" role="navigation">
                </nav>
                <h3>Address</h3>
                <p>North West kenya Conference Seventh-day Adventists<br>
                1264, 50205<br>
                Webuye, kenya<br>
                off Webuye - Kitale Highway
                </p>
                <h3>Telephone</h3>
                <p>+1 301-680-6000</p>
                <h3>Email</h3>
                <h5>General Inquires</h5>
                <p>For general inquiries, please send a brief email (no longer than five sentences) to&nbsp;<a href="mailto:info@nwkc.adventist.org">info(at)nwkc.adventist.org</a>. Before sending an email, please check the Frequently Asked Questions section below, as your question may already be answered there. Please note: due to high volume, emails longer than five sentences may not receive a response.</p>
                <hr>
                <h3>Frequently Asked Questions</h3>
                <h5>I have a concern with the ministry methods of a local administrative unit. Can I give my tithe directly to the world headquarters?</h5>
                <p>Here is advice from former GC Stewardship Ministries Director Erika Puni:</p>
                <p><em>I affirm you for your desire to do the right thing and return tithe to its rightful owner—God. I also thank you on behalf of the Adventist world church for your faithfulness in returning the Lord’s tithe in the past, thus enabling the church to do God’s work in the world. I recognize that the church is not perfect, and perhaps the decision its leaders take from time to time may not meet our personal expectations, but the church will continue to be God’s appointed agency for the saving of people for His soon return.</em></p>
                <p><em>I empathize with your disappointment but I would encourage you to continue to be faithful, and return tithe as you’ve always done when you said yes to Jesus. You know these Biblical principles, but I will restate them as a reminder to both of us:</em></p>
                <p><em>—Tithe belongs to God.</em></p>
                <p><em>—Tithe is an act of worship.</em></p>
                <p><em>—Stewards return tithe as an expression of their faithfulness to God, and its part of their relationship with Him.</em></p>
                <p><em>—Tithe is to be returned to God’s storehouse.</em></p>
                <p><em>Here’s a statement from Ellen White herself. “Some have been dissatisfied, and have said, “I will no longer pay my tithe; for I have no confidence in the way things are managed at the heart of the work.” But will you rob God because you think the management of the work is not right? Make your complaint, plainly and openly, in the right spirit, to the proper ones. Send in your petitions for things to be adjusted and set in order; but do not withdraw from the work of God, and prove unfaithful, because others are not doing right.” (9T 249).</em></p>
            </div>
        </div>
    </article>
     <div class="c-sidebar l-grid-item l-grid-item--l--2-col l-grid-item--xl--2-col u-padding--zero--sides">
         <div class="u-spacing--double back">
            <section class="widget c-widget c-carbon_fields_alps_widget_text_with_link-2 c-carbon_fields_alps_widget_text_with_link o-link-wrapper--underline u-spacing u-background-color--gray--light u-padding u-theme--border-color--darker u-border--left can-be--dark-dark">
                <div class="c-block__breakout u-padding u-padding--double--bottom u-padding--double--top u-spacing">
                    <h3 class="c-block__title u-theme--color--darker">Our Beliefs</h3>
                    <p class="c-block__body text">Seventh-day Adventist beliefs are meant to permeate your whole life. Growing out of scriptures that paint a compelling portrait of God, you are invited to explore, experience and know the One who desires to make us whole. </p>
                    <a class="o-button o-button--simple" href="https://www.adventist.org/beliefs/fundamental-beliefs/" target="_blank">
                    Read More </a>
                </div>
            </section>
        </div>
    </div>
</section>

{% endblock %}